In [1]:
import pandas as pd

orders = pd.read_csv("olist_orders_dataset.csv")
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [2]:
order_items = pd.read_csv("olist_order_items_dataset.csv")
order_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [4]:
orders["order_status"].value_counts()

order_status
delivered      96478
shipped         1107
canceled         625
unavailable      609
invoiced         314
processing       301
created            5
approved           2
Name: count, dtype: int64

In [5]:
total_orders = len(orders)

shipped_orders = orders[
    orders["order_status"].isin(["shipped", "delivered"])
].shape[0]

delivered_orders = orders[
    orders["order_status"] == "delivered"
].shape[0]

total_orders, shipped_orders, delivered_orders

(99441, 97585, 96478)

In [6]:
ship_rate = shipped_orders / total_orders
delivery_rate_from_shipped = delivered_orders / shipped_orders
overall_delivery_rate = delivered_orders / total_orders

ship_rate, delivery_rate_from_shipped, overall_delivery_rate

(0.9813356663750364, 0.9886560434493006, 0.9702034372140264)

In [7]:
products = pd.read_csv("olist_products_dataset.csv")
products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [8]:
orders_items = orders.merge(
    order_items,
    on="order_id",
    how="left"
)

orders_items_products = orders_items.merge(
    products[["product_id", "product_category_name"]],
    on="product_id",
    how="left"
)

orders_items_products.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1.0,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,utilidades_domesticas
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,1.0,595fac2a385ac33a80bd5114aec74eb8,289cdb325fb7e7f891c38608bf9e0962,2018-07-30 03:24:27,118.70,22.76,perfumaria
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,1.0,aa4383b373c6aca5d8797843e5594415,4869f7a5dfa277a7dca6462dcf3b52b2,2018-08-13 08:55:23,159.90,19.22,automotivo
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,1.0,d0b61bfb1de832b15ba9d266ca96e5b0,66922902710d126a0e7d26b0e3805106,2017-11-23 19:45:59,45.00,27.20,pet_shop
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,1.0,65266b2da20d04dbe00c5c2d3bb7859e,2c9e548be18521d1c43cde1c582c6de8,2018-02-19 20:31:37,19.90,8.72,papelaria

In [9]:
category_delivery = (
    orders_items_products
    .groupby("product_category_name")
    .agg(
        total_orders=("order_id", "nunique"),
        delivered_orders=("order_status", lambda x: (x == "delivered").sum())
    )
    .assign(delivery_rate=lambda df: df["delivered_orders"] / df["total_orders"])
    .sort_values("delivery_rate", ascending=False)
)

category_delivery.head(10)

,total_orders,delivered_orders,delivery_rate
product_category_name,,,
sinalizacao_e_seguranca,140,197,1.407143
fraldas_higiene,27,37,1.370370
moveis_escritorio,1273,1668,1.310291
moveis_decoracao,6449,8160,1.265312
casa_conforto_2,24,30,1.250000
construcao_ferramentas_iluminacao,244,301,1.233607
construcao_ferramentas_construcao,748,916,1.224599
casa_construcao,490,596,1.216327
bebidas,297,361,1.215488
ferramentas_jardim,3518,4268,1.213189

In [ ]:
category_delivery_fixed = (
    orders_items_products
    .groupby("product_category_name")
    .agg(
        total_orders=("order_id", "nunique"),
        delivered_orders=("order_id", lambda x: x[orders_items_products.loc[x.index, "order_status"] == "delivered"].nunique())
    )
    .assign(delivery_rate=lambda df: df["delivered_orders"] / df["total_orders"])
    .sort_values("delivery_rate", ascending=False)
)

category_delivery_fixed.head(10)

In [ ]:
tmp = orders_items_products[["order_id", "order_status", "product_category_name"]].dropna()

category_delivery_fixed = (
    tmp.groupby("product_category_name")
    .agg(
        total_orders=("order_id", "nunique"),
        delivered_orders=("order_id", lambda s: s[tmp.loc[s.index, "order_status"].eq("delivered")].nunique())
    )
)

category_delivery_fixed["delivery_rate"] = (
    category_delivery_fixed["delivered_orders"] / category_delivery_fixed["total_orders"]
)

category_delivery_fixed.sort_values("delivery_rate", ascending=False).head(10)

In [1]:
import pandas as pd

orders = pd.read_csv("olist_orders_dataset.csv")
order_items = pd.read_csv("olist_order_items_dataset.csv")
products = pd.read_csv("olist_products_dataset.csv")

orders_items_products = (
    order_items
    .merge(orders[["order_id", "order_status"]], on="order_id", how="left")
    .merge(products[["product_id", "product_category_name"]], on="product_id", how="left")
)

orders_items_products.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,order_status,product_category_name
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,delivered,cool_stuff
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,delivered,pet_shop
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,delivered,moveis_decoracao
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,delivered,perfumaria
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,delivered,ferramentas_jardim

In [2]:
tmp = orders_items_products[["product_category_name", "order_id", "order_status"]].dropna()

category_delivery_fixed = (
    tmp.groupby("product_category_name")
    .agg(
        total_orders=("order_id", "nunique"),
        delivered_orders=("order_id", lambda s: s[tmp.loc[s.index, "order_status"].eq("delivered")].nunique())
    )
)

category_delivery_fixed["delivery_rate"] = (
    category_delivery_fixed["delivered_orders"] / category_delivery_fixed["total_orders"]
)

category_delivery_fixed.sort_values("delivery_rate", ascending=False).head(10)

,total_orders,delivered_orders,delivery_rate
product_category_name,,,
artes_e_artesanato,23,23,1.000000
flores,29,29,1.000000
la_cuisine,13,13,1.000000
seguros_e_servicos,2,2,1.000000
musica,38,38,1.000000
tablets_impressao_imagem,79,79,1.000000
construcao_ferramentas_ferramentas,97,97,1.000000
cds_dvds_musicais,12,12,1.000000
casa_conforto_2,24,24,1.000000
audio,350,348,0.994286

In [3]:
failed_orders = orders[
    orders["order_status"].isin(["canceled", "unavailable"])
][["order_id", "order_status"]]

failed_orders.head(), failed_orders.shape

(                             order_id order_status
 266  8e24261a7e58791d10cb1bf9da94df5c  unavailable
 397  1b9ecfe83cdc259250e1a8aca174f0ad     canceled
 586  c272bcd21c287498b4883c7512019702  unavailable
 613  714fb133a6730ab81fa1d3c1b2007291     canceled
 687  37553832a3a89c9b2db59701c357ca67  unavailable,
 (1234, 2))

In [4]:
failed_revenue = (
    order_items
    .merge(failed_orders, on="order_id", how="inner")
    .groupby("order_status")
    .agg(
        failed_orders=("order_id", "nunique"),
        lost_item_revenue=("price", "sum")
    )
)

failed_revenue["avg_lost_revenue_per_order"] = (
    failed_revenue["lost_item_revenue"] / failed_revenue["failed_orders"]
)

failed_revenue

              failed_orders  lost_item_revenue  avg_lost_revenue_per_order
order_status
canceled                461           95235.27                    206.5841
unavailable               6            2007.69                    334.6150